<footer class="bg-dark text-light py-3">
    <div class="container">
        <div class="row">
            <!-- About BuyFurn -->
            <div class="col-md-4">
                <a class="navbar-brand text-light fs-2 fw-bold" routerLink="">COTCOT<span
                        class="text-warning">.</span></a>
                <p>
                    CotCotTech Tunisie est une entreprise innovante dédiée à la conception et à la fabrication d’incubateurs intelligents de haute qualité, spécialement conçus pour améliorer l’efficacité et la productivité de l’élevage de volailles en Tunisie. 
                    Nos solutions technologiques avancées permettent un suivi précis des conditions de couvaison, garantissant des résultats optimaux pour les éleveurs professionnels et amateurs.
                </p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/" class="text-light">Home</a></li>
                    <li><a routerLink="/furniture" class="text-light">Nos Couveuse</a></li>
                    <!-- <li><a href="/about" class="text-light">About Us</a></li> -->
                    <li><a routerLink="/contact" class="text-light">Contact Us</a></li>
                </ul>
            </div>

            <!-- Contact Info -->
            <div class="col-md-5 contact-info">
                <p><i class="fas fa-envelope"></i><a href="rahmafarhat9@gmail.com" class="text-light">
                        rahmafarhat9&#64;gmail.com</a></p>
                <p><i class="fas fa-phone"></i><a href="tel:+129439253939" class="text-light"> +21658828986</a></p>
                <p><i class="fas fa-map-marker-alt"></i>
                    <a href="https://www.google.com/maps/@36.7557091,10.2728685,16z?entry=ttu&g_ep=EgoyMDI0MDkxMS4wIKXMDSoASAFQAw%3D%3D"
                        target="_blank" class="text-light">
                       Rades,Ben Arous
                    </a>
                </p>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p>&copy; {{currentYear}} COTCOT. All rights reserved.</p>
        </div>
    </div>
</footer>